<div class="container-xxl py-5 px-0 wow zoomIn" data-wow-delay="0.1s">
    <div class="row g-0">
        <div class="col-md-6 bg-dark d-flex align-items-center">
            <div class="p-5">
                <h6 class="section-title text-start text-white text-uppercase mb-3">BİZ Hakkında</h6>
                <h1 class="text-white mb-4">BİZİ Daha Yakından Tanıyın</h1>
                <p class="text-white mb-4">
                    Metallerin işlenmesi, makinada şekil verilmesi, gıda ve içecek sanayide endüstriyel makinelerinin imalatının yapılması
                    faaliyetleri sektöründe öncü olduğumuz faaliyet alanımızda; yasal şartların karşılanması, müşteri ve tedarikçilerimizim ihtiyaç ve beklentilerine cevap verecek şekilde
                    hizmet sunumunun gerçekleşmesi, kaliteli, hızlı ve güvenli bir biçimde sunulan hizmetlere erişimin sağlanmasını amaç edinmiştir. @*ROPAK MAKİNE müşteri memnuniyetini sağlamak, 
                    çalışan sağlığını korumak ve çevreyi korumak amacıyla uluslararası standartlara uygun bir Kalite Yönetim Sistemi’nin kurulmasına karar vermiştir.*@
                </p>

                <a class="btn btn-primary py-3 px-5 mt-2" href="/Contact/Index/">BİZİMLE İLETİŞİME GEÇİN</a>
            </div>
        </div>
        <div class="col-md-5" style="margin-left:15px">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/XCQqVjCjJxw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>